name: Deploy to S3 and Invalidate CloudFront

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  NODE_VERSION: '20.x'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'yarn'

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: yarn install --immutable

      - name: Lint
        run: yarn lint

      - name: Build Next.js
        run: yarn build && yarn export

      # Configure AWS credentials using OIDC role if set
      - name: Configure AWS credentials (OIDC)
        if: ${{ github.event.inputs.AWS_ROLE_TO_ASSUME || secrets.AWS_ROLE_TO_ASSUME != '' }}
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ secrets.AWS_REGION }}

      # Configure AWS credentials using access keys if no OIDC role
      - name: Configure AWS credentials (Access Keys)
        if: ${{ secrets.AWS_ROLE_TO_ASSUME == '' }}
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy to S3
        run: |
          if [ ! -d "out" ]; then
            echo "Error: ./out directory not found" >&2
            exit 1
          fi
          aws s3 sync ./out s3://${{ secrets.S3_BUCKET }} --delete --cache-control max-age=31536000,public --exclude "*.html" --exclude "_next/data/*"
          aws s3 sync ./out s3://${{ secrets.S3_BUCKET }} --delete --exclude "*" --include "**/*.html" --include "_next/data/*" --cache-control max-age=300,public,must-revalidate

      - name: Invalidate CloudFront
        if: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID != '' }}
        run: |
          aws cloudfront create-invalidation \
            --distribution-id "${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}" \
            --paths "/index.html" "/_next/data/*" "/**/*.html"
